.archive_title {
    width: 100%;
    text-align: center;
    margin: 0px;   
}

.archive_li_year{
    text-align: center;
    font-size: 42px;
    font-weight: normal;
    color: $theme_color;
    margin-top: 40px;
    margin-bottom: 10px;
   
}

ul {
    padding: 0;
}

.archive_li_item {
     margin: 15px 0;
     color: gray;
     text-align: center;

}

.archive_li_item a{
     color: gray;
}

.archive_post_link:hover {
    color: #1abc9c;
}

@media screen and (min-width: 768px){
    .archive_box {
    padding: 10px 20px 40px;
    }
}

@media screen and (max-width: 768px){
    .archive_box {
    padding-left: 0px;
    }
}

.archive_box li {
    list-style-type: none;
}

